*.swp
*.mat
*.m4v
*.mp4
*.avi
*.png
*.pdf
*.pyc
*.csv
*.zip
params*
!params_default.cfg
!configDefaults/*
sim_output*
archive/
history/
movies_figs/
bai_LFP_data/
graphite_data/
oldParams/

py_mat_compare
data_capacity.txt
mpettest.m
outputNotes.txt
todo.txt

.remarkrc
