*.swp
*.mat
*.m4v
*.mp4
*.avi
*.png
*.pdf
*.pyc
*.csv
*.zip
params*
!params_default.cfg
!configDefaults/*.cfg
!tests/baseConfigs/*.cfg
sim_output*
archive/
history/
movies_figs/
figs_movies/
bai_LFP_data/
graphite_data/
oldParams/
tests/ref_outputs_*
tests/oldRefs
tests/ref_outputs
mpetLogTimeSpace.py
mpetMaterialsMHC.py
plot_dataG*
plot_data_graphite*

py_mat_compare
data_capacity.txt
mpettest.m
outputNotes.txt
todo.txt

venv/
.remarkrc
.vim
tox.ini
