# Default parameters for simulating graphite in 1D using the 1-layer
# CHR model.
# See params_electrodes.cfg for parameter explanations.

[Particles]
type = CHR
discretization = 2.5e-8
shape = cylinder
thickness = 20e-9

[Material]
muRfunc = LiC6_1param
logPad = false
noise = false
noise_prefac = 1e-6
numnoise = 200
Omega_a = 1.3992e-20
Omega_b = 5.761532e-21
kappa = 4.0e-7
B = 0.0
rho_s = 1.7e28
D = 1.25e-12
Dfunc = lattice
dgammadc = 0e-30
cwet = 0.98

[Reactions]
rxnType = BV
k0 = 3.0e+1
E_A = 50000
alpha = 0.5
lambda = 2.055e-20
Rfilm = 0e-0
