#Parameters for the low loading cell (1.5 mAh/cm^2) from A. Colclasure et al., J. Electrochim. Acta 337, 135854 (2020).
# See params_system.cfg for parameter explanations.

[Sim Params]
# Constant voltage or current or segments of one of them
# Options: CV, CC, CCsegments, CVsegments
profileType = CC
# Battery (dis)charge c-rate (only used for CC), number of capacities / hr
# (positive for discharge, negative for charge)
Crate=-5
#Optional nominal 1C current density for the cell, A/m^2
1C_current_density = 13.475
# Voltage cutoffs, V
Vmax = 4.1
Vmin = 0
# Battery applied voltage (only used for CV), V
Vset = 4.2
# CC/CV segments defining profile for profileType = CCsegments or CVsegments
segments = [
            (0.3, 0.4),
            (-0.5, 0.1),
            ]
# Continuation directory.
# Options: false, absolute directory path
prevDir = false
# Final time (only used for CV), [s]
tend = 1.2e4
# Number disc. in time
tsteps = 200
# Numerical Tolerances
relTol = 1e-6
absTol = 1e-6
# Temperature, K
T = 303.15
# Random seed. Set to true to give a random seed in the simulation
randomSeed = false
# Value of the random seed, must be an integer
seed = 0
# Series resistance, [Ohm m^2]
Rser = 0.
# Cathode, anode, and separator numer disc. in x direction (volumes in electrodes)
Nvol_c = 20
Nvol_s = 10
Nvol_a = 20
# Number of particles per volume for cathode and anode
Npart_c = 1
Npart_a = 1

[Electrodes]
cathode = params_NMC532_Colclasure20.cfg
anode = params_graphite_Colclasure20.cfg
# Rate constant of the Li foil electrode, A/m^2
# Used only if Nvol_a = 0
k0_foil = 1e0
# Film resistance on the Li foil, Ohm m^2
Rfilm_foil = 0e-0

[Particles]
# electrode particle size distribution info, m
mean_c = 1.8e-6
stddev_c = 0e-9
mean_a = 4.0e-6
stddev_a = 0e-9
# Initial electrode filling fractions
cs0_c = 0.91
cs0_a = 0.05

[Conductivity]
# Simulate bulk cathode conductivity (Ohm's Law)?
simBulkCond_c = false
simBulkCond_a = false
# Dimensional conductivity (used if simBulkCond = true), S/m
sigma_s_c = 1e-1
sigma_s_a = 1e-1
# Simulate particle connectivity losses (Ohm's Law)?
# Options: true, false
simPartCond_c = false
simPartCond_a = false
# Conductance between particles, S = 1/Ohm
G_mean_c = 1e-14
G_stddev_c = 0
G_mean_a = 1e-14
G_stddev_a = 0

[Geometry]
# Thicknesses, m
L_c = 42e-6
L_a = 47e-6
L_s = 20e-6
# Volume loading percents of active material (volume fraction of solid
# that is active material)
P_L_c = 0.7803
P_L_a = 0.9026
# Porosities (liquid volume fraction in each region)
poros_c = 0.33
poros_a = 0.37
poros_s = 0.39
# Bruggeman exponent (tortuosity = porosity^bruggExp)
BruggExp_c = -1.0
BruggExp_a = -1.2
BruggExp_s = -1.3

[Electrolyte]
# Initial electrolyte conc., mol/m^3
c0 = 1200
# Cation/anion charge number (e.g. 2, -1 for CaCl_2)
zp = 1
zm = -1
# Cation/anion dissociation number (e.g. 1, 2 for CaCl_2)
nup = 1
num = 1
# Electrolyte model,
# Options: dilute, SM
elyteModelType = SM
# Stefan-Maxwell property set, see props_elyte.py file
SMset = Colclasure20
# Reference electrode (defining the electrolyte potential) information:
# number of electrons transfered in the reaction, 1 for Li/Li+
n = 1
# Stoichiometric coefficient of cation, -1 for Li/Li+
sp = -1
# Dilute solution properties (used only if elyteModelType = "dilute")
# Cation/anion diff, m^2/s
Dp = 2.2e-10
Dm = 2.94e-10
