# Default parameters for simulating LFP in 1D using the ACR model.
# See params_electrodes.cfg for parameter explanations.

[Particles]
type = ACR
discretization = 1e-9
shape = C3
thickness = 20e-9

[Material]
muRfunc = LiFePO4
logPad = false
noise = false
noise_prefac = 1e-6
numnoise = 200
Omega_a = 1.8560e-20
kappa = 5.0148e-10
B = 0.1916e9
rho_s = 1.3793e28
D = 5.3e-19
Dfunc = lattice
dgammadc = 0e-30
cwet = 0.98

[Reactions]
rxnType = BV
k0 = 1.6e-1
E_A = 13000
alpha = 0.5
# Fraggedakis et al. 2020, lambda = 8.3kBT
lambda = 3.4113e-20
Rfilm = 0e-0
