# Parameters for simulating T. Fuller et al., J. Electrochem. Soc. 141, 1 (1994).
# See params_system.cfg for parameter explanations.

[Sim Params]
# Constant voltage or current or segments of one of them
profileType = CC
# Battery (dis)charge c-rate (only used for CC), number of capacities / hr
Crate = 1
#Optional nominal 1C current density for the cell, A/m^2
1C_current_density = 40.
# Voltage cutoffs, V
Vmax = 5
Vmin = 2
Vset = 0.12
segments = [
	(1, 8),
	]
prevDir = false
tend = 1.2e3
tsteps = 200
relTol = 1e-6
absTol = 1e-6
T = 298
randomSeed = true
seed = 0
Rser = 0.
# Cathode, anode, and separator numer disc. in x direction (volumes in electrodes)
Nvol_c = 20
Nvol_s = 10
Nvol_a = 20
# Number of particles per volume for cathode and anode
Npart_c = 1
Npart_a = 1

[Electrodes]
# The name of the parameter file describing the cathode particles
cathode = params_Mn2O4_Fuller94.cfg
# The name of the parameter file describing the anode particles
anode = params_coke_Fuller94.cfg
k0_foil = 1e0
Rfilm_foil = 0e-0

[Particles]
mean_c = 1e-6
stddev_c = 0
mean_a = 18e-6
stddev_a = 0
# Initial electrode filling fractions
# (for disch, anode starts full, cathode starts empty)
cs0_c = 0.2
cs0_a = 0.495

[Conductivity]
simBulkCond_c = true
simBulkCond_a = true
sigma_s_c = 100
sigma_s_a = 100
simPartCond_c = false
simPartCond_a = false
G_mean_c = 1e-14
G_stddev_c = 0
G_mean_a = 1e-14
G_stddev_a = 0

[Geometry]
# Thicknesses, m
L_c = 200e-6
L_a = 243e-6
L_s = 50e-6
# Volume loading percents of active material (volume fraction of solid
# that is active material)
P_L_c = 0.784
P_L_a = 0.937
# Porosities (liquid volume fraction in each region)
poros_c = 0.3
poros_a = 0.3
poros_s = .4
# Bruggeman exponent (tortuosity = porosity^bruggExp)
BruggExp_c = -0.5
BruggExp_a = -0.5
BruggExp_s = -0.5

[Electrolyte]
# Initial electrolyte conc., mol/m^3
c0 = 1000
# Cation/anion charge number (e.g. 2, -1 for CaCl_2)
zp = 1
zm = -1
# Cation/anion dissociation number (e.g. 1, 2 for CaCl_2)
nup = 1
num = 1
# Electrolyte model
elyteModelType = SM
SMset = LiClO4_PC
n = 1
sp = -1
Dp = 2.2e-10
Dm = 2.94e-10