#Cell parameters for isothermal benchmark from M. Torchio et al., J. Electrochem. Soc. 163, A1192 (2016).
# See params_system.cfg for parameter explanations.

[Sim Params]
# Constant voltage or current or segments of one of them
# Options: CV, CC, CCsegments, CVsegments
profileType = CC
# Battery (dis)charge c-rate (only used for CC), number of capacities / hr
# (positive for discharge, negative for charge)
Crate = 1
#Optional nominal 1C current density for the cell, A/m^2
1C_current_density = 30
# Voltage cutoffs, V
Vmax = 5
Vmin = 2.5
# Battery applied voltage (only used for CV), V
Vset = 0.12
# CC/CV segments defining profile for profileType = CCsegments or CVsegments
segments = [
            (0.3, 0.4),
            (-0.5, 0.1),
            ]
# Continuation directory.
# Options: false, absolute directory path
prevDir = false
# Final time (only used for CV), [s]
tend = 1.2e3
# Number disc. in time
tsteps = 200
# Numerical Tolerances
relTol = 1e-6
absTol = 1e-6
# Temperature, K
T = 298
# Random seed. Set to true to give a random seed in the simulation
randomSeed = false
# Value of the random seed, must be an integer
seed = 0
# Series resistance, [Ohm m^2]
Rser = 0.
# Cathode, anode, and separator numer disc. in x direction (volumes in electrodes)
Nvol_c = 10
Nvol_s = 10
Nvol_a = 10
# Number of particles per volume for cathode and anode
Npart_c = 1
Npart_a = 1

[Electrodes]
cathode = params_LiCoO2_LIONSIMBA.cfg
anode = params_LiC6_LIONSIMBA.cfg
# Rate constant of the Li foil electrode, A/m^2
# Used only if Nvol_a = 0
k0_foil = 1e0
# Film resistance on the Li foil, Ohm m^2
Rfilm_foil = 0e-0

[Particles]
# electrode particle size distribution info, m
mean_c = 2e-6
stddev_c = 0
mean_a = 2e-6
stddev_a = 0
# Initial electrode filling fractions
cs0_c = 0.4995
cs0_a = 0.8551

[Conductivity]
# Simulate bulk cathode conductivity (Ohm's Law)?
simBulkCond_c = true
simBulkCond_a = true
# Dimensional conductivity (used if simBulkCond = true), S/m
sigma_s_c = 412.43
sigma_s_a = 685.77
# Simulate particle connectivity losses (Ohm's Law)?
simPartCond_c = false
simPartCond_a = false
# Conductance between particles, S = 1/Ohm
G_mean_c = 1e-14
G_stddev_c = 0
G_mean_a = 1e-14
G_stddev_a = 0

[Geometry]
# Thicknesses, m
L_c = 8e-5
L_a = 8.8e-5
L_s = 2.5e-5
# Volume loading percents of active material (volume fraction of solid
# that is active material)
P_L_c = 0.9593
P_L_a = 0.9367
# Porosities (liquid volume fraction in each region)
poros_c = 0.385
poros_a = 0.485
poros_s = 0.724
# Bruggeman exponent (tortuosity = porosity^bruggExp)
BruggExp_c = -3
BruggExp_a = -3
BruggExp_s = -3

[Electrolyte]
# Initial electrolyte conc., mol/m^3
c0 = 1000
# Cation/anion charge number (e.g. 2, -1 for CaCl_2)
zp = 1
zm = -1
# Cation/anion dissociation number (e.g. 1, 2 for CaCl_2)
nup = 1
num = 1
# Electrolyte model,
# Options: dilute, SM
elyteModelType = SM
# Stefan-Maxwell property set, see props_elyte.py file
SMset = LIONSIMBA_nonisothermal
# Reference electrode (defining the electrolyte potential) information:
# number of electrons transfered in the reaction, 1 for Li/Li+
n = 1
# Stoichiometric coefficient of cation, -1 for Li/Li+
sp = -1
# Dilute solution properties (used only if elyteModelType = "dilute")
# Cation/anion diff, m^2/s
Dp = 7.5e-10
Dm = 7.5e-10
